body{

font-family:Arial;

text-align:center;

background:#f2f2f2;

}

#chat{

width:420px;

height:320px;

border:1px solid gray;

margin:auto;

overflow:auto;

background:white;

padding:10px;

}

input{

width:260px;

padding:8px;

}

button{

padding:8px;

margin:5px;

cursor:pointer;

}